.qrContainer {
  text-align: center;
  padding: 40px;
}

.qrCode {
  width: 250px;
  height: 250px;
  margin: 20px auto;
  background-color: white;
  border: 5px solid var(--text-dark);
  display: flex;
  align-items: center;
  justify-content: center;
}

.routeInfo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}
